 <!--
  Authors : Coders Island
  Website : https://codersisland.com
  App Name : Deal - ionic 6 Buy and Sell, Admin, Admob
  Created : 20-August-2022
  This App Template Source code is licensed as per the
  terms found in the Website https://codersisland.com/license
  Copyright © 2022-present Coders Island.
-->

 <!--===================== HEADER START =====================-->
 <ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Forgot Password' | translate }}</ion-title>
  </ion-toolbar>
 </ion-header>
 <!--===================== HEADER END =====================-->

 <!--===================== CONTENT START =====================-->
 <ion-content>
  <div class="main_content_div">
    <div class="content_div">

      <!--<div class="ion-text-center ion-padding">
        <img src="assets/deals.png" width="100px" height="120px"/>
      </div>-->
      <br/>

      <form [formGroup]="authForm" (ngSubmit)="resetPassword()" novalidate>
        <div class="ip_flex">
         <ion-input type="text" formControlName="email" placeholder="{{ 'Email' | translate }}"></ion-input>
        </div>
        <!-- Email Error -->
        <p class="error" *ngIf="isSubmitted && errorControl.email.errors?.required">{{ 'Email is required' | translate }}.</p>
        <p class="error" *ngIf="isSubmitted && errorControl.email.errors?.pattern">{{ 'Please provide valid email id' | translate }}.</p>

        <ion-button type="submit" expand="block" mode="ios" class="block_btn">
          {{ 'Reset Password' | translate }}
        </ion-button>
      </form>

    </div>
  </div>
</ion-content>
<!--===================== CONTENT END =====================-->
