ion-content {
    --background: #ebe9e9;
  }
  .main_content_div {
    padding: 10px;
  
    .main_offer_div {
      margin-bottom: 10px;
  
      .offer_div {
        padding: 10px;
        display: flex;
        align-items: center;
        background: white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
  
        .back_image {
          height: 130px;
          width: 130px;
          min-width: 130px;
          border-radius: 5px;
        }
        .offer_detail {
          padding-left: 10px;
  
          .name_lbl {
            font-size: 17px;
            font-family: "medium";
            margin-bottom: 6px;
          }
          .small_lbl {
            font-size: 13px;
          }
          .code_lbl {
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-family: "medium";
          }
        }
      }
      
        .detail_div {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border-top: 1px solid rgb(201, 199, 199);
            border-left: 1px solid rgb(201, 199, 199);
            border-right: 1px solid rgb(201, 199, 199);
            border-bottom: 1px solid rgb(201, 199, 199);
           // padding: 12px 10px;
            // background: gainsboro;
            background: #fff;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
      
            .line {
              height: 40px;
              border: 1px solid rgb(201, 199, 199);
            }

            ion-label {
                font-size: 15px;
                //color: var(--ion-color-secondary);
                display: flex;
                align-items: center;
                span {
                  margin-left: 3px;
                  padding-top: 5px;
                  padding-right: 5px;
                }
            }
  
        
      }
    }
  }

  ion-modal {
    ion-content {
        --background: #fff;
    }
  }

  .flex_div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;

    .line_div {
      width: 100%;
      height: 1px;
      background: lightgrey;
    }
    ion-label {
      white-space: nowrap;
      margin-left: 8px;
      margin-right: 8px;
      font-family: "medium";
      font-size: 14px;
    }
  }

  .ip_flex {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    ion-select, ion-textarea {
        border-radius: 10px;
        border: 1px solid lightgrey;
        height: 48px;
        width: 100%;
        font-family: "regular";
        --padding-start: 16px;
      }

    ion-input {
      border-radius: 10px;
      border: 1px solid lightgrey;
      height: 48px;
      font-family: "regular";
      --padding-start: 16px;
    }
  }