<!--
  Authors : Coders Island
  Website : https://codersisland.com
  App Name : Deal - ionic 6 Buy and Sell, Admin, Admob
  Created : 20-August-2022
  This App Template Source code is licensed as per the
  terms found in the Website https://codersisland.com/license
  Copyright © 2022-present Coders Island.
-->

<!-- ================== HEADER START ================= -->
 <ion-header class="ion-no-border">
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>{{ 'Items' | translate }}</ion-title>
      <ion-button fill="clear" slot="end">
          <ion-icon name="share-social-sharp"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>
<!-- ================== HEADER END ================= -->

<!-- ================== CONTENT START ================= -->
<ion-content>
  <div class="main_content_div">
    <div class="main_offer_div" *ngFor="let item of items">
      <div class="offer_div" (click)="viewDetails(item.id)">
       <ion-thumbnail style="height: 130px; width: 130px;"  >
          <img src="{{item.image}}" style="border-radius: 5px;"/>
        </ion-thumbnail>
        <div class="offer_detail">
          <ion-label>
            <h3 style="font-family: bold;">{{item.name}}</h3>
            <h3 style="font-family: bold;">{{getCategory(item.category)}}</h3>
            <p> <ion-icon name="location-outline"></ion-icon> {{getSubCategory(item.subCategory)}}</p>
            <h2 style="font-family: bold; color:green;">INR {{item.price}}</h2>
          </ion-label>
        </div>
    </div>
    <div class="detail_div" *ngIf="subscription">
      <ion-label (click)="chat(item.id, item.id)">
        <span><ion-icon name="mail-outline" style="font-size: 20px"></ion-icon></span>
       {{ 'Chat' | translate }}
      </ion-label>
      <!-- <div class="line"></div>
      <ion-label (click)="call(item.phoneNumber)">
        <span><ion-icon name="call" style="font-size: 20px"></ion-icon></span>
        {{ 'Call' | translate }}
      </ion-label> -->
    </div>
   </div>
  </div>

  <!-- Loading -->
  <div class="ion-text-center" style="padding-top: 50px" *ngFor="let item of dummyArray">
    <ion-spinner color="secondary"></ion-spinner>
 </div>

  <div *ngIf="!items.length  && !dummyArray.length" class="ion-text-center" style="padding-top: 40px">
    <img src="assets/camera.png" width="150px" height="150px"/>
    <h5 class="empty" style="font-family:bold">{{ 'No Ads yet' | translate }}</h5>
  </div>

</ion-content>
<!-- ================== CONTENT END ================= -->
