 <!--
  Authors : Coders Island
  Website : https://codersisland.com
  App Name : Deal - ionic 6 Buy and Sell, Admin, Admob
  Created : 20-August-2022
  This App Template Source code is licensed as per the
  terms found in the Website https://codersisland.com/license
  Copyright © 2022-present Coders Island.
-->

<!-- ================ HEADER START ============== -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>{{ 'Login' | translate }}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- =============== HEADER END =============== -->

<ion-content>
  <div class="main_content_div">
    <div class="content_div"> 
       <div class="ion-text-center ion-padding">
         <h1 style=" font-size: 50px; font-weight: bold"><img style="border-radius:15px;" src="../../assets/logo-provider.png" alt=""></h1>
       </div>
        <form [formGroup]="authForm" (ngSubmit)="login($event)" novalidate>
          <div class="ip_flex">
            <ion-input formControlName="email" type="email" placeholder="{{ 'Email' | translate }}"></ion-input>
          </div> 
          <P class="error" *ngIf="isSubmitted && errorControl.email.errors?.required">{{ 'Email is required!' | translate }}</P>
          <P class="error" *ngIf="isSubmitted && errorControl.email.errors?.pattern">{{ 'Please enter valid email!' | translate }}</P>
          <div  >
            <ion-item lines="none" class="ion-no-padding" style="width: 100%;border:1px solid gainsboro;border-radius: 10px;">
            <ion-input  formControlName="password"  type="{{ showPassword ? 'text' : 'password' }}"  placeholder="{{ 'Password' | translate }}" style="border: none;"></ion-input>
            <ion-icon name="{{ showPassword ? 'eye-off' : 'eye' }}" (click)="togglePasswordVisibility()" style="font-size: 20px;"></ion-icon>
          </ion-item>
          </div>
          <ion-checkbox class="ion-margin-top" (ionChange)="onCheckboxChange()"  labelPlacement="end">I agree with <a style="color: var(--ion-color-primary);text-decoration: underline;" (click)="openTermsCondition()">Terms & Conditions</a></ion-checkbox>
          <p class="error" *ngIf="isSubmitted && errorControl.password.errors?.required">{{ 'Password is required' | translate }}.</p>
          <p class="error" *ngIf="isSubmitted && errorControl.password.errors?.minlength">{{ 'Password should be min 6 chars long' | translate }}.</p>
          <ion-button (click)="goToForgotPassword()" style="text-transform:none; font-size: 14px" class="block_btn" fill="clear" expand="block" color="dark">
            {{ 'Forgot Password' | translate }}
          </ion-button>
          <ion-button *ngIf="!isLogin" type="submit" expand="block" mode="ios" class="block_btn" [disabled]="!privacyPolicyChecked || !authForm.get('email').value || !authForm.get('password').value" >
            {{ 'Login' | translate }}
          </ion-button>
        </form>   
        <div class="ion-text-center" *ngIf="isLogin">
          <ion-spinner name="circles" color="secondary"></ion-spinner>
        </div>
        <br/>
          
          <!--<ion-label class="grey_lbl">By continuing, you agree to our</ion-label>
          <ion-label class="grey_lbl">
              <span>Terms of Service </span> &nbsp;
              <span>Privacy Policy</span> &nbsp;
              <span>Content Policy</span>
          </ion-label>-->

    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-button (click)="goToRegister()" style="text-transform:none;font-size: 14px" class="block_btn" fill="clear" expand="block" color="dark">
    {{ 'Dont have an account ' | translate }} &nbsp; <a style="text-decoration: underline; font-size: larger;" >Register</a>
  </ion-button>
</ion-footer>