<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Update City</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Update</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-searchbar placeholder="Search City" [(ngModel)]="search"></ion-searchbar> -->
  <!-- <cdk-virtual-scroll-viewport [itemSize]="56" [minBufferPx]="900" [maxBufferPx]="1350">
    <ion-list>
      <ion-item>
        <ion-label>
          <h2 style="float: left; margin-top: 13px;">{{item.name}}</h2>
        </ion-label>
        <ion-checkbox mode="ios" style="float: right;"  [checked]="true"></ion-checkbox>
        </ion-item>
      <ion-item lines="none" *cdkVirtualFor="let item of editcities | search:search:'name' let i=index" (click)="checkboxChanged($event.target.checked, i, item)">
      <ion-label>
        <h2 style="float: left; margin-top: 13px;">{{item.name}}</h2>
      </ion-label>
      <ion-checkbox mode="ios" style="float: right;"  [checked]="item.checkboxChecked"></ion-checkbox>
      </ion-item>
    </ion-list>
  </cdk-virtual-scroll-viewport> -->

  <ion-list>
    <ion-item>
      <ion-input placeholder="Name" [(ngModel)]="item.name" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="State" [(ngModel)]="item.stateCode"></ion-input>
    </ion-item>
  </ion-list>

</ion-content>
