ion-select{
    border-radius: 10px;
    height: 48px;
    width:100%;
    --padding-start: 10px !important;
    --padding-end:10px !important;
    border:1px solid gray !important;
    margin-top:20px;
}