<!--
  Authors : Coders Island
  Website : https://codersisland.com
  App Name : Deal - ionic 6 Buy and Sell, Admin, Admob
  Created : 20-August-2022
  This App Template Source code is licensed as per the
  terms found in the Website https://codersisland.com/license
  Copyright © 2022-present Coders Island.
-->

 <!--===================== HEADER START =====================-->
 <ion-header class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-title>{{ 'Favourite' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--===================== HEADER END =====================-->
  
  <!--===================== CONTENT START =====================-->
  <ion-content>
    <div class="main_content_div">
      <div class="main_offer_div" *ngFor="let item of items">
        <div class="offer_div" (click)="viewDetails(item.id)">
            <div>
              <img src="{{item.image}}" class="bg_image back_image"/>
            </div>
            <div class="offer_detail">
              <ion-label>
                <h3 style="font-family: bold;">{{item.name}}</h3>
                <p> {{getCategory(item.category)}}</p>
                <p> {{getSubcategory(item.subCategory)}}</p>
                <!-- <ion-icon name="location-outline"></ion-icon> -->
                <h2 style="font-family: bold; color:red;">INR {{item.price}}</h2>
              </ion-label>
            </div>
        </div>
        <div class="detail_div" *ngIf="favorites">
          <ion-label (click)="chat(item.sellerId, item.id)">
            <span><ion-icon name="mail-outline" style="font-size: 20px"></ion-icon></span>
            {{ 'Chat' | translate }}
          </ion-label>
          <!-- <div class="line"></div> -->
          <!-- <ion-label (click)="call(item.phoneNumber)">
            <span><ion-icon name="call" style="font-size: 20px"></ion-icon></span>
            {{ 'Call' | translate }}
          </ion-label> -->
        </div>
    </div>
    <!-- Loading -->
    <div class="ion-text-center spinners"  *ngFor="let item of dummy">
      <ion-spinner color="secondary"></ion-spinner>
    </div>

    <div *ngIf="!items.length  && !dummy.length" class="ion-text-center" style="padding-top: 40px">
      <img src="assets/wishlist.png" width="150px" height="150px"/>
      <h5 class="empty" style="font-family:bold">{{ 'Your favourites are empty' | translate }}</h5>
    </div>

   </div>
  </ion-content>
