<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title style="text-align: center">{{item.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="hasPermission(['edit_items'])" [color]="getStatusColor(item.status)" [strong]="true">
        <ion-select
          style="margin: 0px !important"
          aria-label="Status"
          value="{{item.status}}"
          (ionChange)="changeStatus($event, item.id)"
        >
          <ion-select-option value="active">Active</ion-select-option>
          <ion-select-option value="paused">Paused</ion-select-option>
        </ion-select>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <swiper-container>
    <swiper-slide style="text-align: center;" 
      ><img style="height: 250px" [src]="item.image" alt=""
    /></swiper-slide>
  </swiper-container>
  <div style="height: 40px; padding-left: 5px; padding-right: 5px">
    <h4 style="float: left">{{item.name}}</h4>
    <h4 style="float: right">{{item.price | currency:'INR':'symbol'}}</h4>
  </div>
  <div class="card">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-label>
            <h6><b>{{ 'Price' }}</b></h6>
            <p>{{item.price | currency:'INR':'symbol'}}</p>
          </ion-label>
        </ion-col>
        <!-- <ion-col size="6">
          <ion-label>
            <h6><b>{{ 'Location' }}</b></h6>
            <p>{{item.location}}</p>
          </ion-label>
        </ion-col> -->
        <ion-col size="6">
          <ion-label>
            <h6><b>{{ 'Category' }}</b></h6>
            <p>{{getCategory(item.category)}}</p>
          </ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label>
            <h6><b>{{ 'Subcategory' }}</b></h6>
            <p>{{getSubcategory(item.subCategory)}}</p>
          </ion-label>
        </ion-col>
        <!-- <ion-col size="6">
          <ion-label>
            <h6><b>{{ 'Condtion' }}</b></h6>
            <p>{{item.condition}}</p>
          </ion-label>
        </ion-col> -->
        <ion-col size="6">
          <ion-label>
            <h6><b>{{ 'Posted on'}}</b></h6>
            <p>{{item.created_at | DateFormat | lowercase}}</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="cards">
    <h6 class="ion-text-wrap ion-padding">{{item.description}}</h6>
  </div>

  <!-- <div #map id="map">map</div> -->
  <!-- <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="card">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-label>
                  <h6><b>{{ 'Profile Name' }}</b></h6>
                  <p>{{item.seller}}</p>
                </ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-label>
                  <h6><b>{{ 'Phone Number' }}</b></h6>
                  <p>{{item.phoneNumber}}</p>
                </ion-label>
              </ion-col>
              <div *ngIf="item.isGST">
              <ion-col size="6">
                <ion-label>
                  <h6><b>{{ 'Business Name' }}</b></h6>
                  <p>{{item.buisnessName}}</p>
                </ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-label>
                  <h6><b>{{ 'Business GST' }}</b></h6>
                  <p>{{item.buisnessGST}}</p>
                </ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-label>
                  <h6><b>{{ 'Business Address' }}</b></h6>
                  <p>{{item.buisnessAddress}}</p>
                </ion-label>
              </ion-col>
            </div>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
<ion-footer class="ion-no-border">
  <!-- [hidden]="!details" -->
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <!-- (click)="editNumber(item)" -->
        <ion-button *ngIf="hasPermission(['edit_items'])" fill="outline" style="text-transform: none" expand="block" (click)="openEditServiceList(item)">
          <ion-icon
            slot="start"
            name="create-outline"
            style="font-size: 25px"
          ></ion-icon>
          {{ 'Edit' }}
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button
          *ngIf="hasPermission(['edit_items'])"
          style="text-transform: none"
          [color]="getStatusColor(item.status)"
          expand="block"
        >
          <ion-select
            style="margin: 0px !important"
            aria-label="Status"
            value="{{item.status}}"
            (ionChange)="changeStatus($event, item.id)"
          >
            <ion-select-option value="active">Active</ion-select-option>
            <ion-select-option value="paused">Paused</ion-select-option>
          </ion-select>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
