
ion-card {
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    ion-card-title {
    display: flex;
    justify-content: space-between;
    ion-buttons {
        height: 13px;
        width: 70px;
    }
}
}
ion-footer, ion-content, ion-toolbar {
    background-color: #f2f2f2;
    --background:#f2f2f2;
}