<!--
  Authors : Coders Island
  Website : https://codersisland.com
  App Name : Deal - ionic 6 Buy and Sell, Admin, Admob
  Created : 20-August-2022
  This App Template Source code is licensed as per the
  terms found in the Website https://codersisland.com/license
  Copyright © 2022-present Coders Island.
-->

<!--===================== HEADER START =====================-->
<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>{{'FAQ' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<!--===================== HEADER END =====================-->

<!--===================== CONTENT START =====================-->
<ion-content class="bg_color" fullscreen>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>{{'Lorem Ipsum is simply dummy text?' | translate}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen book.
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>{{'Lorem Ipsum is simply dummy text?' | translate}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen book.
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>{{'Lorem Ipsum is simply dummy text?' | translate}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen book.
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
<!--===================== CONTENT END =====================-->

